<h2 class='p-3'>Edit <%= resource_name.to_s.humanize %></h2>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="row align-items-end form-section" style='margin: 4em 0;'>
      <div class="col">
        <%= cl_image_tag current_user.avatar.key, height: 120, width: 120, radius: 'max', crop: 'fill' %>
      </div>
      <div class="col">
        <%= f.input :avatar, as: :file, direct_upload: true %>
      </div>
    </div>
    <div class="form-inputs">
      <div class="form-section">
        <div class="py-2"><%= f.input :username, required: true %></div>
        <div class="py-2"><%= f.input :email, required: true %></div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <div class="form-section">
        <h5 class='text-center'>Pssword change</h5>
        <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-section py-3" style='margin-top: 4em;'>
        <h5 class='text-center'>Confirm changes and update</h5>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'w-100 btn-warning' %>
    </div>
  <% end %>

  <div class="py-3" style='margin-top: 4em;'>
    <h5 class='text-center'>Want to cancel your account?</h5>
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'w-100 btn btn-outline-warning' %></p>
  </div>
</div>

<%= link_to "Back", root_path, class: 'btn btn-light m-3' %>
